body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: linear-gradient(to right, rgb(150, 171, 240), rgb(96, 117, 185));
 
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid slateblue;
}

legend{
    padding: 5px;
    text-align: center;
    border: 1px solid slateblue;
    background-color: slateblue;
    border-radius: 5px;
}

.inputBOX{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: white;
}

#submit{
    background-image: linear-gradient(to right, rgb(101, 84, 211), rgb(85, 69, 190));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(92, 78, 182), rgb(77, 63, 172));
}

.reg{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    display: flex;

}


@media (max-width: 768px){
    .flexslider .slides img {
        height: 60vh;
        object-fit: cover;
    }
}
